.wrapper
	position relative

.chart
	position relative
	box-sizing border-box
	padding 10px 15px
	left -1px

.toggler
	position absolute
	top 20px
	right 25px
	opacity .7

.space
	background-color alpha(#2D3242, .4)
	display flex

.ui
	position relative

.groups
	color #656E8D
	font-size 12px
	padding 10px 15px 0 0
	float right
	&-label
		display none

	&-selector
		display inline-block

.table
	grid-template-columns repeat(3, 1fr)
