.preview-section
	display flex

.left
	min-width 140px
	width 140px
	padding 0 20px 0 0
	flex-grow 0
	flex-shrink 0
	box-sizing border-box

.right
	width 100%
	flex-grow 1
	text-align left

.title
	color #fff
	font-size 12px
	font-weight bold
	text-transform uppercase
	font-family: 'Montserrat', sans-serif;

.description
	color #fff
	font-size 12px
