.icons
	display grid
	grid-template-columns: repeat(10, 25px );
	margin-top -4px
	grid-gap 25px

.product-logos
	display grid
	grid-template-columns: repeat(5, 70px );
	margin-top -4px
	grid-gap 50px

.logos
	display grid
	grid-template-columns: repeat(2, 160px );
	margin-top -4px
	grid-gap 50px
