.wrapper
	display inline-flex
	flex-direction row
	min-height 50px
	align-items center
	justify-content center
	vertical-align top

.logo
	// align-self: flex-start;
	margin-right 12.86px
	&:last-child
		margin-left 0
	//

// .label
