.wrapper
	// display flex
	box-sizing border-box
	position relative
	text-align center
	font-size 10px
	// width 470px
	// align-items center
	// justify-content center

.canvas
	// flex-grow 1
	// flex-shrink 1
	margin 1px 1px
	// width 100%
	// border 1px solid rgba(255, 255, 255, 0.2)


.midprice
	&-label
		color #656E8D
		line-height 13px
		text-transform uppercase
		font-weight bold
	&-value
		color #fff
		font-size 14px
		font-weight bold
		line-height 19px

.top-labels
	position absolute
	top 7px
	left 0
	text-align center
	width 100%

.side
	&-labels
		position absolute
		left 15px
		bottom 3px
		top 34px
		display flex
		flex-direction column
		text-align center
		color #fff
		text-transform uppercase
	&-label
		height 37px

.bottom
	&-labels
		display flex
		text-align center
		margin-top 4px
	&-label
		color #656E8D
		flex-grow 1
		flex-shrink 1
		line-height 13px


.overlay
	display block
