.wrapper
	width 40px
	height 40px
	border-radius 50%
	background-color #657786
	text-align center
	box-sizing border-box
	padding 11px 0
	cursor pointer

.initials
	height 18px
	line-height 18px
	width 100%
	text-align center
	color #fff
	font-family 'Montserrat', sans-serif
	font-weight 600
	font-size 14px
