.wrapper
	text-align left
	margin 0 20px
	padding-top 25px
	white-space nowrap
	flex-grow 0
	flex-shrink 0
	font-family "Montserrat", sans-serif


.label
	color #656E8D
	text-transform uppercase
	font-weight 600
	font-size 10px
	line-height normal
	font-style normal
	height 13px
	margin-bottom 2px

.price
	font-weight bold
	height 15px
	font-size 12px
	text-transform uppercase

.changed
	display inline-block
	font-size 12px
	font-weight bold
	text-transform uppercase
	margin-left 5px
