.item
	width 100%
	// background-color rgba(100, 116, 173, 0.2)
	// justify-content center
	font-family 'PT Sans', sans-serif
	cursor pointer
	transition background .1s ease-in-out
	&:hover
		background-color alpha(rgba(100, 116, 173, 0.1), .1)
	// &:focus
	// &:active
	// 	background-color alpha(rgba(100, 116, 173, 0.7), .7)
	&__active
		background-color rgba(100, 116, 173, .2)


.content
	padding 15px
	box-sizing border-box
	display flex
	flex-direction row
	align-items center
	min-height 94px

.token
	margin-right 20px

.stats
	text-align left

.product
	flex-grow 0
	flex-shrink 0
	margin-right 20px
	width 70px
	text-align center

	&-logo
		margin 0 auto
		margin-bottom 5px
	&-label
		font-size 14px
		color #fff
		font-weight bold
		font-style normal
		text-align center
		line-height 20px
		width 100%

.favorite
	flex-grow 0
	flex-shrink 0

.growth
	display block
	min-height 20px
	font-weight bold
	font-size 14px

.price
	display block
	font-style normal
	font-size 12px
	line-height 15px

.volume
	@extend .price
	&-label
		display inline-block
		color #656E8D
	&-value
		color #97A3D0
